﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Define Charset -->
    <meta charset="utf-8" />

    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.migrate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.textillate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.lettering.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizrr.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/count-to.js"></script>
    <script type="text/javascript" src="~/Scripts/mediaelement-and-player.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>


</head>

<body>
    <div id="container">

        <header>
            <!-- Start  Logo & Naviagtion  -->
            <nav class="navbar navbar-default">
                <div class="container-fluid menu-bar">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo" href="Home.aspx">
                            <img alt="" src="Content/images/logo.png" />
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.Partial("_LoginPartial")</li>
                            <li><a href="~/AdminProject/AdminDashBoard">DashBoard</a></li>
                            <li><a class="page-scroll" href="~/User/Index">User Management</a></li>
                            <li><a href="#">Communication</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- End Header Logo & Naviagtion -->

        </header>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row footer-widgets">
                    <h1 id="contact">Contact Us</h1>
                    <div class="col-md-6">
                        <ul class="contact-details">
                            <li><a href="#"><i class="fa fa-map-marker"></i>458/E, Gedambuwana New Road, Piliyandala, Sri Lanka </a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>contact@accuracx.com </a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+94 755 927 927</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <!-- Start Social Links -->
                        <ul class="social-list">
                            <li>
                                <a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook">
                                    <img src="Content/images/fb.png" alt="" /></i></a>
                            </li>
                            <li>
                                <a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter">
                                    <img src="Content/images/t.png" alt="" /></i></a>
                            </li>
                            <li>
                                <a class="google itl-tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus">
                                    <img src="Content/images/g.png" alt="" /></i></a>
                            </li>
                            <li>
                                <a class="linkdin itl-tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin">
                                    <img src="Content/images/in.png" alt="" /></i></a>
                            </li>
                            <li>
                                <a class="instgram itl-tooltip" data-placement="bottom" title="Instagram" href="#"><i class="fa fa-instagram">
                                    <img src="Content/images/ins.png" alt="" /></i></a>
                            </li>
                            <li>
                                <a class="skype itl-tooltip" data-placement="bottom" title="prinster" href="#"><i class="fa fa-skype">
                                    <img src="Content/images/p.png" alt="" /></i></a>
                            </li>
                        </ul>
                        <!-- End Social Links -->
                    </div>
                </div>
                <!-- .row -->

                <!-- Start Copyright -->
                <div class="copyright-section">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; 2015 Accuracx -  All Rights Reserved <a href="#">Accuracx</a> </p>
                        </div>
                        <!-- .col-md-6 -->
                        <div class="col-md-6">
                            <ul class="footer-nav">
                                <li><a href="#">Sitemap</a>
                                </li>
                                <li><a href="#">Privacy Policy</a>
                                </li>
                                <li><a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <!-- .col-md-6 -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- End Copyright -->

            </div>
        </footer>

    </div>

</body>
</html>


@RenderSection("scripts", required: false)
