﻿@model IEnumerable<DBHandler.Model.Project>
@using GridMvc.Html

@{
    ViewBag.Title = "Listings";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>@ViewBag.Title</h2>
<div class="clear-fix">&nbsp;</div>

<label>submited projects</label>@Model.Where(p => p.StatusId == (int)DBHandler.Common.CommonEnums.ProjectStatus.Submitted).Count();

<label>On going projects</label>@Model.Where(p => p.StatusId == (int)DBHandler.Common.CommonEnums.ProjectStatus.OnGoing).Count();

<label>Comleted  projects</label>@Model.Where(p => p.StatusId == (int)DBHandler.Common.CommonEnums.ProjectStatus.Complete).Count();

<label>New Bug Reports</label>@Model.Where(p => p.StatusId == (int)DBHandler.Common.CommonEnums.ProjectStatus.Complete).Count();

<label>Messages</label>@Model.Where(p => p.StatusId == (int)DBHandler.Common.CommonEnums.ProjectStatus.Complete).Count();

<h1>Submitted Projects</h1>

@Html.Grid(Model.Where(p=>p.StatusId==(int)DBHandler.Common.CommonEnums.ProjectStatus.Submitted)).Columns(columns =>
          {
              columns.Add(t => t.ProjectName).Titled("Project Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.ProjectType.ProjectTypeName).Titled("Project Type").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("View", "Details", "AdminProject", new { id = o.ProjectId, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());

          }).WithPaging(10)

<h1>Ongoing Projects</h1>

@Html.Grid(Model.Where(p=>p.StatusId==(int)DBHandler.Common.CommonEnums.ProjectStatus.OnGoing)).Columns(columns =>
          {
              columns.Add(t => t.ProjectName).Titled("Project Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.ProjectType.ProjectTypeName).Titled("Project Type").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("View", "Details", "AdminProject", new { id = o.ProjectId, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());

          }).WithPaging(10)

<h1>Completed Projects</h1>

@Html.Grid(Model.Where(p=>p.StatusId==(int)DBHandler.Common.CommonEnums.ProjectStatus.Complete)).Columns(columns =>
          {
              columns.Add(t => t.ProjectName).Titled("Project Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.ProjectType.ProjectTypeName).Titled("Project Type").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("View", "Details", "AdminProject", new { id = o.ProjectId, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());

          }).WithPaging(10)
