﻿@model DBHandler.Model.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Project</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProjectType.ProjectTypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectType.ProjectTypeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProjectName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Features)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Features)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HardwareReq)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HardwareReq)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoftwareReq)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoftwareReq)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Limitations)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Limitations)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DocumentPath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentPath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PaymentPlan.PaymentPlanName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentPlan.PaymentPlanName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quotation.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quotation.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProjectUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectUrl)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
