﻿@model DBHandler.Model.Project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    $(function () {

        function CloseQuot() {
            $('#estimation').val('');
            $('#budget').val('');
            $('#notes').val('');
            $('.login-box').animate({ 'top': '-165px' }, 500);
            $('.login-frame').fadeOut(500);
        }

        function OpenQuot() {
            $('.login-frame').fadeIn(500);
            $('.login-box').animate({ 'top': '100px' }, 500);
        }

        function OpenUpdateQuot() {
            var projectId = '@Model.ProjectId';
            $('#estimation').val('@Model.Quotation.Estimation');
            $('#budget').val('@Model.Quotation.Budget');
            $('#notes').val('@Model.Quotation.Notes');
            $('.login-frame').fadeIn(500);
            $('.login-box').animate({ 'top': '100px' }, 500);
        }

        $(document).on('click', '#addQuot', function (e) {
            OpenQuot();
            e.preventDefault();
        });

        $(document).on('click', '#updateQuot', function (e) {
            OpenUpdateQuot();
            e.preventDefault();
        });

        $(document).on('click', '#btn_close', function (e) {
            CloseQuot();
            e.preventDefault();
        });

        $(document).on('click', '#btn_save', function (e) {
            var estimation = $('#estimation').val();
            var budget = $('#budget').val();
            var notes = $('#notes').val();
            var _loginMsg = $('#msg');
            if (estimation == '' || budget == '') {
                _loginMsg.addClass("error").removeClass("success");
                _loginMsg.html("Fields should not be empty");
                $('.login-box')
                         .animate({ left: -25 }, 20)
                         .animate({ left: 0 }, 60)
                         .animate({ left: 25 }, 20)
                         .animate({ left: 0 }, 60);
            } else {
                var Objdata = {};
                Objdata.estimation = estimation;
                Objdata.budget = budget;
                Objdata.notes = notes;
                Objdata.id = '@Model.ProjectId';
                alert(Objdata.id);
                var url = "@Url.Action("AddNewQuotation", "AdminProject")";
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify(Objdata),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    success: function (response) {
                        alert('sucess');
                        if (response.result == true) {
                            _loginMsg.addClass("success").removeClass("error");
                            _loginMsg.html("Login was successful!");
                            $('.login-box').animate({ 'top': '-165px' }, 800);
                            $('.login-frame').fadeOut(500);
                            var url = '../Details?id=' + Objdata.id;

                            $(location).attr('href', url);

                        } else {
                            _loginMsg.addClass("error").removeClass("success");
                            _loginMsg.html("Invalid username & Password");
                            $('.login-box')
                                 .animate({ left: -25 }, 20)
                                 .animate({ left: 0 }, 60)
                                 .animate({ left: 25 }, 20)
                                 .animate({ left: 0 }, 60);
                            $('#estimation').val("");
                            $('#budget').val("");
                            $('#notes').val("");
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {

                        alert('fail');
                        alert(xmlHttpRequest.toString());
                        alert(textStatus);
                        alert(errorThrown);
                        alert('Error');
                    }
                });
            }

            e.preventDefault();
        });
    });
</script>


<h2>@ViewBag.Title</h2>
<div class="clear-fix">&nbsp;</div>

@Html.DisplayFor(model => model.ProjectName)

@Html.Label((String)ViewBag.ProjectStatus)

@Html.ActionLink("Notifications", "Index")

@if (Model.Quotation == null)
{
    <a id="addQuot">Add Qutation</a>
}
else if (Model.Quotation.Approved == false)
{
    <a id="updateQuot">Update Qutation</a>
}

@if (Model.Quotation != null)
{
    <h6>Quotation Details</h6>
    <label>Estimation</label>
    <label>@Model.Quotation.Estimation</label>
    <label>Budget</label>
    <label>@Model.Quotation.Budget</label>
    <label>Satus</label>
    if (Model.Quotation.Approved)
    {
        <label>Quotation Approved</label>
    }
    else
    {
        <label>Quotation Not Approved Yet</label>
    }

}

<div class="display-label">
    @Html.DisplayNameFor(model => model.ProjectType.ProjectTypeName)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.ProjectType.ProjectTypeName)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Description)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Description)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Features)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Features)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.HardwareReq)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.HardwareReq)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.SoftwareReq)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.SoftwareReq)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Limitations)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Limitations)
</div>

<form id="form1" runat="server">
    <div>
        <div class="login-frame">
            <div class="login-box">
                <div id="msg"></div>
                <div class="form-group">
                    <label class="form-label">Estimation:</label>
                    <input id="estimation" runat="server" cssclass="form-control" />
                </div>
                <div class="form-group">
                    <label class="form-label">Budget:</label>
                    <input id="budget" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="form-label">Notes:</label>
                    <input id="notes" class="form-control"/>
                </div>
                <div class="login-actions">
                    <button id="btn_save" runat="server" text="Save" class="btn login-btn" />
                    <button id="btn_close" runat="server" text="Cancel" class="btn close-login" />
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "AdminDashBoard")
</div>


