﻿body {
}

.login-frame {
           position: absolute;
           top: 0;
           bottom: 0;
           left: 0;
           right: 0;
           display: none;
       }
       .login-box {
           width: 400px;
           height: 165px;
           padding: 20px;
           margin: auto;
           top: -165px;
           box-shadow: 0 0 10px #CCC;
           border-radius: 5px;
           position: relative;
       }
       .form-group {
           margin-bottom: 10px;
       }
       .form-group .form-control {
           margin-left: 55px;
           width: 275px;
           height: 30px;
           padding: 0 5px 0 5px;
           font-size: 16px;
           border-radius: 5px;
           border: solid 1px #CCCCCC;
           color: #999;
       }
       .form-group .form-label {
           width: 50px;
           font-size: 18px;
           display: block;
           float: left;
           line-height: 30px;
           padding-left: 5px;
           color: #333;
       }
       .login-msg {
           border: solid 1px #bce8f1;
           text-align: center;
           line-height: 30px;
           margin-bottom: 10px;
           border-radius: 5px;
           color: rgba(58, 135, 173, 0.90);
           background-color: rgba(217, 237, 247, 0.99);
       }
       .login-msg.success {
           color: rgba(70, 136, 71, 0.96);
           background-color: rgba(223, 240, 216, 0.97);
           border-color: rgba(214, 233, 198, 0.98);
       }
       .login-msg.error {
           color: rgba(185, 74, 72, 0.98);
           background-color: rgba(242, 222, 222, 0.98);
           border-color: rgba(238, 211, 215, 0.98);
       }
       .login-actions {
           text-align: right;
       }
       .btn {
           height: 40px;
           width: 100px;
           display: inline-block;
           padding: 6px 12px;
           margin-bottom: 0;
           font-size: 14px;
           text-align: center;
           white-space: nowrap;
           vertical-align: middle;
           cursor: pointer;
           border: 1px solid transparent;
           border-radius: 4px;
       }
       .login-btn {
           color: #ffffff;
           background-color: #5cb85c;
           border-color: #4cae4c;
       }
       .login-btn:hover {
           background-color: #458a45;
       }
       .close-login {
           color: #ffffff;
           background-color: #5cb85c;
           border-color: #4cae4c;
       }
       .close-login:hover {
           background-color:#458a45;
       }
