﻿body {
}

.submit-proj-frame {
           position: absolute;
           top: 50px;
           bottom: 0;
           left: 0;
           right: 0;
           display: none;
           background-color:#7e8c8d;
           filter: alpha(opacity=96);
           /* IE */
          -moz-opacity: 0.96;
          /* Mozilla */
          opacity: 0.96;
          /* CSS3 */
         

       }
       .submit-proj-box {
             width:510px;
           height: auto;
           padding: 20px;
           margin: auto;
           top: -165px;
           box-shadow: 0 0 10px #29414b;
           border-radius: 5px;
           position: relative;
           background-color:#ecf0f1;
            z-index:1001;
       }
       .form-group-submit-proj {
           margin-bottom: 10px;
       }
       .form-group-submit-proj .form-control-submit-proj {
           margin-left: 55px;
           width: 275px;
           height: 25px;
           padding: 0 5px 0 5px;
           font-size: 16px;
           border-radius: 5px;
           border: solid 1px #CCCCCC;
           color: #999;
       }
       .form-group-submit-proj .form-label-submit-proj {
           width: 150px;
           font-size: 18px;
           display: block;
           float: left;
           line-height: 25px;
           padding-left: 5px;
           color: #333;
       }
       .submit-proj-msg {
           border: solid 1px #bce8f1;
           text-align: center;
           line-height: 30px;
           margin-bottom: 10px;
           border-radius: 5px;
           color: rgba(58, 135, 173, 0.90);
           background-color: rgba(217, 237, 247, 0.99);
       }
       .submit-proj-msg.success {
           color: rgba(70, 136, 71, 0.96);
           background-color: rgba(223, 240, 216, 0.97);
           border-color: rgba(214, 233, 198, 0.98);
       }
       .submit-proj-msg.error {
           color: rgba(185, 74, 72, 0.98);
           background-color: rgba(242, 222, 222, 0.98);
           border-color: rgba(238, 211, 215, 0.98);
       }
       .submit-proj-actions {
           text-align: right;
       }
       .btn-submit-proj {
           height: 40px;
           width: 100px;
           display: inline-block;
           padding: 6px 12px;
           margin-bottom: 0;
           font-size: 14px;
           text-align: center;
           white-space: nowrap;
           vertical-align: middle;
           cursor: pointer;
           border: 1px solid transparent;
           border-radius: 4px;
       }
       .submit-proj-btn {
           color: #ffffff;
           background-color: #5cb85c;
           border-color: #4cae4c;
       }
       .submit-proj-btn:hover {
           background-color: #458a45;
       }
       .close-submit-proj {
           color: #ffffff;
           background-color: #5cb85c;
           border-color: #4cae4c;
       }
       .close-submit-proj:hover {
           background-color:#458a45;
       }
