﻿ @model DBHandler.Model.Project

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Project</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectTypeId, "ProjectType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProjectTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.ProjectTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProjectName)
            @Html.ValidationMessageFor(model => model.ProjectName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Features)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Features)
            @Html.ValidationMessageFor(model => model.Features)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HardwareReq)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HardwareReq)
            @Html.ValidationMessageFor(model => model.HardwareReq)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoftwareReq)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoftwareReq)
            @Html.ValidationMessageFor(model => model.SoftwareReq)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Limitations)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Limitations)
            @Html.ValidationMessageFor(model => model.Limitations)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "DashBoard")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
