﻿@model DBHandler.Model.Project

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Project</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProjectType.ProjectTypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectType.ProjectTypeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProjectName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Features)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Features)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HardwareReq)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HardwareReq)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoftwareReq)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoftwareReq)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Limitations)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Limitations)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DocumentPath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentPath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PaymentPlan.PaymentPlanName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentPlan.PaymentPlanName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quotation.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quotation.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProjectUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectUrl)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
