﻿@model DBHandler.Model.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Project</legend>

    @Html.DisplayFor(model => model.ProjectName)

    @Html.Label((String)ViewBag.ProjectStatus)

    @Html.ActionLink("Notifications", "Index")

    @Html.ActionLink("Contact/Inquiry", "Index")

    @Html.Label((String)ViewBag.ClientMessage)

    @if (Model.StatusId == (int)DBHandler.Common.CommonEnums.ProjectStatus.Submitted)
    {
        if (Model.Quotation != null && Model.Quotation.Approved == true)
        {

        }
        else
        {
           @Html.Partial("BasicProjectDetails",Model)
        }
    }



    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.DocumentPath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentPath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PaymentPlan.PaymentPlanName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentPlan.PaymentPlanName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quotation.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quotation.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProjectUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectUrl)
    </div>*@
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
