﻿@model DBHandler.Model.Project

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Project</legend>

        @Html.HiddenFor(model => model.ProjectId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectTypeId, "ProjectType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProjectTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.ProjectTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProjectName)
            @Html.ValidationMessageFor(model => model.ProjectName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Features)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Features)
            @Html.ValidationMessageFor(model => model.Features)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HardwareReq)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HardwareReq)
            @Html.ValidationMessageFor(model => model.HardwareReq)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoftwareReq)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoftwareReq)
            @Html.ValidationMessageFor(model => model.SoftwareReq)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Limitations)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Limitations)
            @Html.ValidationMessageFor(model => model.Limitations)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentPath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DocumentPath)
            @Html.ValidationMessageFor(model => model.DocumentPath)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StatusId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StatusId)
            @Html.ValidationMessageFor(model => model.StatusId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PaymentPlanId, "PaymentPlan")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PaymentPlanId", String.Empty)
            @Html.ValidationMessageFor(model => model.PaymentPlanId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuotationId, "Quotation")
        </div>
        <div class="editor-field">
            @Html.DropDownList("QuotationId", String.Empty)
            @Html.ValidationMessageFor(model => model.QuotationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProjectUrl)
            @Html.ValidationMessageFor(model => model.ProjectUrl)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
