﻿@model DBHandler.Model.Project

@{
    ViewBag.Title = "Details";
}

<h1>project Details</h1>

@Html.DisplayFor(model => model.ProjectName)

@Html.Label((String)ViewBag.ProjectStatus)

@Html.ActionLink("Notifications", "Index")

@Html.ActionLink("Contact/Inquiry", "Index")

@Html.Label((String)ViewBag.ClientMessage)

<div class="display-label">
    @Html.DisplayNameFor(model => model.ProjectType.ProjectTypeName)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.ProjectType.ProjectTypeName)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Description)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Description)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Features)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Features)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.HardwareReq)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.HardwareReq)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.SoftwareReq)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.SoftwareReq)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Limitations)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Limitations)
</div>

@if (Model.Quotation != null)
{
    <h6>Quotation Details</h6>
    <label>Estimation</label>
    <label>@Model.Quotation.Estimation</label>
    <label>Budget</label>
    <label>@Model.Quotation.Budget</label>
    <label>Satus</label>
    if (!Model.Quotation.Approved)
    {
        <a href="#">Approve Quotation </a>
    }

}

<div>
    @Html.ActionLink("Back to List", "DashBoard")
</div>
